@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}

<div class="parks">
    @* Loop through all the parks and display them on the homepage *@
    @foreach (Park park in Model)
    {
            <div class="park">
                @* List out summary view of each park *@
                <a asp-controller="home" asp-action="detail" asp-route-parkcode="@park.ParkCode">
                    <div><img src="~/images/@(park.ParkCode).jpg" /></div>
                </a>
                
                <div class="park-summary-content">
                    <a asp-controller="home" asp-action="detail" asp-route-parkcode="@park.ParkCode">
                        <h2>@park.ParkName</h2>
                    </a>
                        <p>@park.ParkDescription</p>
                </div>
            </div>
    }
</div>