@model Survey
@using WebApplication.Web.Models
@{
    ViewData["Title"] = "Survey";
    var parksVar = (IList<Park>)ViewData["ParkList"];
}

<h2 id="park-survey-h2">Park Survey</h2>

@* Survey Form *@
<form method="post" asp-controller="home" asp-action="survey" class="park-form">
    <div class="park-survey">
        <div class="form-group survey-fav-park-name">
            <label asp-for="ParkCode"></label>
            <select asp-for="ParkCode" class="form-control">
                @foreach (Park park in parksVar)
                {
                    <option value="@park.ParkCode">@park.ParkName</option>
                }
            </select>
            <span asp-validation-for="ParkCode"></span>
        </div>
        <div class="form-group survey-email">
            <label asp-for="EmailAddress"></label>
            <input asp-for="EmailAddress" type="email" class="form-control" />
            <span asp-validation-for="EmailAddress"></span>
        </div>
        <div class="form-group survey-state">
            <label asp-for="State"></label>
            <select asp-for="@Model.State" class="form-control">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                @* US Outlying Territories *@
                <option value="GU">Guam</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="PR">Puerto Rico</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="VI">Virgin Islands</option>
                @* Armed Forces *@
                <option value="AA">Armed Forces Americas</option>
                <option value="AP">Armed Forces Pacific</option>
                <option value="AE">Armed Forces Others</option>
            </select>
            <span asp-validation-for="State"></span>
        </div>
        <label asp-for="ActivityLevel">
            <input type="radio" asp-for="ActivityLevel" value="inactive" checked> Inactive
            <input type="radio" asp-for="ActivityLevel" value="sedentary"> Sedentary
            <input type="radio" asp-for="ActivityLevel" value="active"> Active
            <input type="radio" asp-for="ActivityLevel" value="extremely-active"> Extremely Active
        </label>
        <span asp-validation-for="ActivityLevel"></span>

        <div>
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>