@model IList<SurveyResults>
@{
    ViewData["Title"] = "SurveyResults";
}

<h2>Favorite Parks</h2>
<p>Here are the survey results for the favorite parks. It is listed in order of favorite
    parks as determined by this survey!</p>

@*The favorite parks page lists the parks in the order of the number 
of surveys submitted for them. Tying parks should be listed in alphabetical order. 
At minimum, the list must include the name of the park, and the count of their surveys. 
In order to avoid embarassing any of our wonderful National Parks, only show parks with 
a count of at least 1.*@

@* Loop through a list of type Survey and display the results *@
@foreach(SurveyResults results in @Model)
{
    <div>@results.ParkName</div>
    <div>@results.ParksCount</div>
}