:root {
    --bg-color: #EEE;
    --border-color: #CCC;
}

.detail-view {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
        ". image ."
        ". information ."
        ". weather .";
}

    .detail-view .grid-image {
        grid-area: image;
    }

    .detail-view .park-details {
        grid-area: information;
        display: flex;
    }

    .detail-view .weather-forecast {
        grid-area: weather;
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }

    .detail-view .weather-forecast h2 {
        width: 70%;
    }

    .detail-view .weather-forecast input {
        width: 30%;
    }

    .detail-view img {
        width: 100%;
    }

    .detail-view .park-information, .detail-view .park-description, .detail-view .quote, div.daily-forecast {
        border: 5px solid var(--border-color);
        display: inline-block;
        padding: 15px;
        margin: 5px;
        background-color: var(--bg-color);
    }

.park-details .park-description {
    height: calc(60% - 10px);
    width: calc(100% - 10px);
}

.park-details .quote {
    height: calc(40% - 10px);
    width: calc(100% - 10px);
}

.park-details .park-information {
    width: 30%;
}

.park-details .description-quote {
    width: 80%;
}

.detail-view .quote {
    text-align: center;
}

.detail-view .quote p {
    margin-top: 35px;
    padding: 0 50px;
}

.detail-view #quote-source {
    margin-left: 350px;
}

div.daily-forecast {
    text-align: center;
}

.day-0 {
    width: calc(28% - 10px);
}

.day-1, .day-2, .day-3, .day-4 {
    width: calc(18% - 10px);
}

.detail-view .weather-recommendation {
    text-decoration: underline;
    margin: 0;
}

/* Adds border to detail image */
.grid-image img {
    border: 4px solid black;
    margin-bottom: 10px;
}

.weather-recommendation ~ p {
    color: #b52626;
}