#park-survey-h2 {
    margin-left: 15px;
}

.park-form {
    margin-left: 25px;
}

.survey-fav-park-name, .survey-email, .survey-state {
    width: 40%;
    display: flex;
}

.survey-fav-park-name>label, .survey-email>label, .survey-state>label {
    width: 100%;
}

#activity-level-span {
    margin-right: 5px;
}