#park-survey-h2 {
    margin-left: 15px;
}

.park-form {
    margin-left: 25px;
}

.survey-fav-park-name, .survey-email, .survey-state {
    width: 40%;
    display: flex;
}

.survey-fav-park-name>label, .survey-email>label, .survey-state>label {
    width: 100%;
}

#activity-level-span {
    margin-right: 5px;
}

.img-td {
    /*background-color: red;*/
    width: 300px;
}

.img-td img {
    border: 3px solid black;
}

.park-name {
    width: 20%;
    
}

#fav-parks {
    padding-left: 10px;
}

.table thead tr th {
    padding: 5px;
    padding-left: 12px;
}

#fav-parks p {
    width: 80%;
}